@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button, .button {
  border-radius: 8px;
  font-size: 1rem;
  font-family: inherit;
  background-color: #757575;
  color:#f1f1f1;
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.25s;
}
button:disabled, .button.disabled {
  background-color: #4f4f4f;
  color:#b4b4b4;
}
button:hover:enabled, .button:hover {
  border-color: #9294b3;
  background-color: #4c4c4c;
}
button:focus:enabled, .button:focus:enabled, 
button:focus-visible:enabled, button:focus-visible:enabled {
  outline: 4px auto -webkit-focus-ring-color;
}

div#root {
  display: grid;
  min-width: 320px;
  max-width: 1000px;
  width: 100%;
  min-height: 100vh;
  grid-template-areas: "lp mn";
  grid-template-columns: 40% 60%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media screen and (max-width: 800px) {
  div#root {
    padding: 1rem;
  }
}

@media screen and (max-width: 600px) {
  div#root {
    grid-template-areas: "mn" "lp";
    grid-template-columns: 100%;
    gap: 2rem;
  }
}



.mainview {
  grid-area: mn;
}

.leftpanel {
  grid-area: lp;
}

.loadingflash::before {
  content: "";
  inset: 0;
  position: absolute;
  background-image: linear-gradient(90deg, rgba(36,36,36,0) 46%, rgba(91,93,110,0.7) 53%, rgba(91,93,110,0.7) 57%, rgba(36,36,36,0) 57%);
  animation: loadingflash 4s infinite linear;
}

@keyframes loadingflash {
  0% {
    transform: translate(-60%, 0);
  }
  100% {
    transform: translate(150%, 0);
  }
}